<!DOCTYPE html>
<html lang="en">

<%- include ('./parciais/header.ejs')%>

<body>
    
    <%- include ('./parciais/nav.ejs')%>

    <div class="produtos">
        <input type="text" name="busca" id="busca" style="width: 400px;" value="" placeholder="Insira o nome do produto">
        <button>Buscar</button>
    </div><br><br>
    
    <div class="produtos">
        <h2>Todos os Produtos</h2>

        <% if (farmacos.length > 0){%>
        <% farmacos.forEach(farmacos => {%>
        <a class="single" href="/farmacos/<%= farmacos._id %>">
            <h3 class="title"><%= farmacos.nome %></h3>
            <p class="quantidade"> quant: <%= farmacos.quantidade %></p>
            <p class="quantidade"> setor: <%=farmacos.setor%></p><br>
        </a>
        <%})%>
        <%}else{%>
        <p>Nenhuma medicação encontrada</p>
            <%}%>

    </div>

    
    <%- include('./parciais/footer.ejs')%>

</body>
</html>